:root {
  --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
}

h1 {
  margin: 2rem 0;
  text-align: center;
}

main {
  margin: auto;
  padding: 1em;
  max-width: 60ch;
}

.text-gradient {
  font-weight: 900;
  background-image: var(--astro-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200%;
  background-position-y: 100%;
  border-radius: 0.4rem;
  animation: pulse 4s ease-in-out infinite;
}

.refresh-button {
  background-image: var(--astro-gradient);
  color: white;
  font-weight: 800;
  font-size: large;
  padding: 15px 20px;
  cursor: pointer;
}

.quote {
  font-size: larger;
  padding: 10px 0px;
  margin: 10px;
  text-align: center;
}
